.birdByType{
  display: grid;
  grid-template-areas:
  "N N"
  "P D"
  "P D";
}

#bname {
  grid-area: N;
  margin-top: 20%;
  color: white;
  font-size: 110%;
}

#bpic {
  grid-area: P;
}

#binfo{
  display: flex;
  margin-top: -30%;
  margin-left: 20%;
  font-size: 160%;
  border-top: 1px solid black;
  color: white;
}

#btype{
  margin-top: 5%;
  margin-left: -70%;
  color: white;
}

@media (max-width: 400px) {
  #binfo{
    display: flex;
    margin-top: -130%;
    font-size: 160%;
    border-top: none;
    color: white;
    margin-left: -2%;
  }

  #btype{
    margin-left: 0%;
  }
}

@media (max-width: 1050px) {
  #binfo{
    margin-top: -40%;
    border-top: none;
  }

  #btype{
    margin-left: 0%;
  }
}