.specBird{
display: flex;
color: white;
flex-flow: column wrap;

}

#birdy{
  margin: 0 auto;
  
}
#picz{
  max-height: 300px;
  max-width: 200px;
  margin: 0 auto;
  
}
#edit{
  width: 10%;
  height: 20px;
  margin: 0 auto;
  border: yellow 1px solid;
  background-color: rgba(187, 176, 27, 0.815);
  color: white;
}
#delete{
  width: 10%;
  height: 20px;
  margin: 0 auto;
  border: yellow 1px solid;
  background-color: rgba(187, 176, 27, 0.815);
  color: white;
}

#add{
  width: 10%;
  height: 20px;
  margin: 0 auto;
  border: yellow 1px solid;
  background-color: rgba(187, 176, 27, 0.815);
  color: white;
}

@media (max-width: 400px){
  #delete{
    width: 20%;
  }
}