#slogan {
  display: flex;
  flex-flow: column wrap;
  color: white;
  font-size: 2vw;
  position: absolute;
}

#home-img {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 60%;
  border-radius: 300px;
  border: solid rgba(#000, .2);

}